* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
}

#section1-container {
    background-image: url("../img/section1.png");
    background-size: cover;
}

#section1-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 22%;
    padding-top: 314px;
    font-family: 'rose';
}

#section2-title {
    font-family: 'rose';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
}

#section2-container img {
    margin-left: 150px;
    padding-top: 61px;
    z-index: -1;
}

#section2-content {
    z-index: 1;
    float: right;
    position: absolute;
    margin-left: 750px;
    margin-top: -300px;
    width: 50%;
    padding: 23px;
    color: #fff;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    background-color: #000;
}

#section3-container {
    background-image: url("../img/section3.png");
    background-size: cover;
}

.section3-title,
.section6-title {
    font-family: 'rose';
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    margin-left: 222px;
}

#section3-title1,
#section6-title1 {
    width: 192px;
    height: 70px;
    background: #FFF849;
    text-align: center;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.70);
    margin-bottom: 15px;
}

#section3-title2 {
    width: 353px;
    height: 70px;
    background: #FFF849;
    text-align: center;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.70);
}

#section6-title2 {
    width: 261px;
    height: 70px;
    background: #FFF849;
    text-align: center;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.70);
}

#section4-container img {
    margin-left: 150px;
    padding-top: 178px;
}

#section4-title {
    font-family: 'rose';
    font-size: 38px;
    font-weight: 400;
    margin-left: 750px;
    margin-top: -525px;
}

#section4-content {
    width: 900px;
    font-size: 23px;
    font-weight: 400;
    margin-left: 750px;
    font-family: 'itelic';
}

#section5-container {
    text-align: center;
}

#section5-container img {
    margin-left: 129px;
    padding-top: 106px;
    display: block;
    margin: 0 auto;
}

#section6-container {
    background-image: url("../img/section6.png");
    background-size: cover;
}

#section7-title {
    font-family: 'rose';
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-left: 200px;
}

#section7-title:nth-child(1) {
    padding-top: 127px;
}

#section7-subtitle {
    font-family: 'rose';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-left: 200px;
}

#section7-content {
    width: 573px;
    font-size: 23px;
    font-weight: 400;
    margin-left: 200px;
    font-family: 'itelic';
}

#section7-container img {
    margin-left: 950px;
    margin-top: -600px;
}

#section8-container img {
    margin-left: 200px;
    margin-top: -350px;
}

#section8-title {
    font-family: 'rose';
    font-size: 38px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 1208px;
}

#section8-content {
    width: 573px;
    font-size: 23px;
    font-weight: 400;
    margin-left: 1208px;
    font-family: 'itelic';
}

.clear-container {
    height: 220px;
}

@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 540px) {
    #section1-title {
        margin-left: 12%;
    }
    #section2-title {
        width: 280px;
        font-size: 2rem;
        margin-left: 25%;
    }
    #section2-container img {
        width: 400px;
        height: 337px;
        margin-top: -30px;
    }
    #section2-content {
        margin-left: 20px;
        margin-top: 25px;
        font-size: 1rem;
        width: 400px;
        height: 230px;
        line-height: 22px;
    }
    #section3-title,
    #section6-title {
        width: 380px;
        margin-left: 20%;
    }
    #section4-title {
        font-size: 2rem;
        width: 250px;
        margin-left: 27.5%;
        padding-top: 30px;
    }
    #section4-content {
        width: 387px;
        margin-left: 11.5%;
        font-size: 1rem;
        margin-top: 450px;
    }
    #section4-container > img {
        width: 349px;
        height: 370px;
        margin-left: 15%;
    }
    #section5-container img {
        width: 400px;
        margin-top: 100px;
    }
    #section5-container {
        height: 450px;
    }
    #section7-title,
    #section7-subtitle,
    #section8-title {
        font-size: 2rem;
        margin-left: 22.5%;
    }
    #section7-content,
    #section8-content {
        width: 287px;
        margin-left: 22.5%;
        font-size: 1rem;
    }
    #section7-container img,
    #section8-container img {
        width: 400px;
        margin-left: 10%;
        margin-top: 50px;
    }
    #section8-container {
        margin-top: 200px;
    }
}