*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#backgrounc-img{
    background-image: url("../img/rhythmHouseBackImg.png");
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#record-div{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-top: 130px;
    width: 415px;
    height: 248px;
}

.record-circle{
    position: relative;
    margin-left: 153px;
    top: -117px;
    animation: none;
    transform-origin: 50% 50%;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

#second-circle{
    margin-left: 73px;
}

#play-music-div{
    position: relative;
    width: calc(457px - 43px * 2);
    height: calc(149px - 30px * 2) ;
    top: 66px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 43px;
    padding-right: 43px;
}
#music-info{
    font-size: 18px;
    font-family: 'NeoDunggeunmoPro-Regular';
}
#music-length{
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
}
.progress-container {
    margin: 5px 0;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    background: #DCDCDC;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.20);
    margin-top: 22px;
    margin-bottom: 25px;
}

.progress {
    height: 4px;
    width: 0%;
    transition: width 0.1s linear;
    border-radius: 10px;
    background: #000;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.20);
}
#music-control{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 90px;
    height: 32px;
}
#main{
    position: relative;
    font-family: 'NeoDunggeunmoPro-Regular';
    top: 184px;
    width: calc(100% - 165px * 2); 
    padding-top: 150px;
    padding-left: 165px;
    padding-right: 165px;
    margin-bottom: 500px;
}

#main-title{
    font-size: 35px;
    line-height: 44px;
}

#main-sub-title{
    font-size: 23px;
    line-height: 44px;
}
#playlist-title{
    margin-top: 100px;
    font-size: 23px;
    margin-bottom: 21px;
}

#music-list-div{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.song-div{
    width: calc(100% - 35px * 2);
    height: 100px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}

.song-profile{
    display: flex;
    align-items: center;
}
.song-image{
    margin-right: 50px;
}
.song-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}
.song-title{
    font-size: 25px;
}
.song-singer{
    font-size: 20px;
}

.pause-btn{
    justify-self: end;
    justify-content: end;
    font-size: 50px;
}

