*{
    margin: 0;
    padding: 0;
}

#backgrounc-img{
    background-image: url("../img/rhythmHouseBackImg.png");
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#record-div{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 130px;
    width: 415px;
    height: 248px;
}

#record-img{

}

.record-circle{
    position: relative;
    margin-left: 153px;
    top: -117px;
}

#second-circle{
    margin-left: 73px;
}

#main{
    width: 100%;
    height: 2000px;
}

#footer{
    width: 100%;
    height: 263px;
    background-color: black;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-logo{
    margin-top: 36px;
    margin-bottom: 32px;
}

#app{
    display: flex;
    column-gap: 10px;
    margin-bottom: 27px;
}

#footer-line{
    width: 90%;
    height: 1px;
    background-color: white;
    margin-bottom: 14px;
}

#info{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    column-gap: 6px;
    margin-bottom: 3px;
}

#privacy{
    display: flex;
    color: white;
    align-items: center;
    column-gap: 6px;
}